{{> head }}
{{> navbar }}

<div class="row">

  <div class="col-8">
        <h1>Hola amigo</h1>
  </div>

  <div class="col-4">
      <img src="assets/img/zcmo_superer_miedo_tiburones_clip_image002_0000.jpg"
       class="img-thumbnail">
  </div>

</div>



{{> footer }}
